<div class="jumbotron vid">
    <div class="wrapper">
        <div class="header-vid">
            <h2>Welcome To <strong>Thug Coding</strong></h2>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="bg-video">
                    <img src="/thug_code/assets/img/video.png" height="287px"/>
                </div>
            </div>
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron story">
    <div class="wrapper">
        <h2>STORY</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="/thug_code/assets/img/ppl1.png"/>
                    <div class="caption">
                        <h3>Lorem Ipsum</h3>
                        <p>Curabitur consequat malesuada fg arcu Aliquam kkire uyiot oyi</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="/thug_code/assets/img/ppl2.png"/>
                    <div class="caption">
                        <h3>Lorem Ipsum</h3>
                        <p>Curabitur consequat malesuada fg arcu Aliquam kkire uyiot oyi</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="/thug_code/assets/img/ppl3.png"/>
                    <div class="caption">
                        <h3>Lorem Ipsum</h3>
                        <p>Curabitur consequat malesuada fg arcu Aliquam kkire uyiot oyi</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="/thug_code/assets/img/ppl4.png"/>
                    <div class="caption">
                        <h3>Lorem Ipsum</h3>
                        <p>Curabitur consequat malesuada fg arcu Aliquam kkire uyiot oyi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>