<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Re-send Activation</title>
    <link href="/thug_code/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/thug_code/assets/css/styles.css" rel="stylesheet" />

    <script src="/thug_code/assets/js/jquery-2.2.0.min.js"></script>
    <script src="/thug_code/assets/js/bootstrap.min.js"></script>
    <script src="/thug_code/assets/js/app.js"></script>
</head>
<body>
    <div>
        <form class="form-signin" th:action="@{/user/activation-send}" th:object="${user}" action="/user/activation-send" method="post">
            <h2 class="form-signin-heading">Re-send Activation</h2>
            
            <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
            
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required="required" autofocus="autofocus"/>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send Activation</button>
        </form>
    </div>
</body>
</html>